body {
	background-color: #000;
    transition: all, 1s, ease-out;
}

.hint {
	font-family: sans-serif;
	font-weight: 100;

	position: absolute;
	top: 20px;
	right: 20px;
	left: 20px;

	display: flex;

	height: 100px;
	padding: 4em;

	background-color: #fff8;

	align-items: center;
   
}
@media only screen and (max-width: 600px) {
	body {
		background-color: #d50000;
	}
    
}
@media only screen and (min-width: 650px) {
	body {
		background-color: #ff5722;
	}
}

@media only screen and (min-width: 700px) {
	body {
		background-color: #fdd835;
	}
}
@media only screen and (min-width: 750px) {
	body {
		background-color: #9ccc65;
	}
}
@media only screen and (min-width: 800px) {
	body {
		background-color: #80d8ff;
	}
}
@media only screen and (min-width: 850px) {
	body {
		background-color: #8c9eff;
	}
}
@media only screen and (min-width: 900px) {
	body {
		background-color: #8e24aa;
	}
}
@media only screen and (min-height: 550px) {
	.hint {
		top: 50%;
	}
}

@media only screen and (min-height: 650px) {
	.hint {
		top: 100%;
	}
}